body {
	font-family: "Open Sans";
	z-index: 1;
	-webkit-font-smoothing: antialiased;
}
body.frozen {
	overflow: hidden;
}

label {
	font-size: 1em;
}

a {
	color: white;
	text-decoration: underline;
}
a:hover {
	color: #bfbfbf;
}
a.btn {
	text-decoration: none;
}

#loadOverlay {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 99999999999999;
	transition: opacity 0.3s;
}
#loadOverlay.fade {
	opacity: 0;
}

#topSection {
	background-color: #1E88E5;
	background-size: cover;
	background-position: center center;
	transition: background-color 0.75s;
	font-weight: bold;
	text-shadow: 2px 2px black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0;
	z-index: 1;
}
#topSectionBackgroundFilter {
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}
#topFiller {
	width: 100%;
	height: 100vh;
	pointer-events: none;
}
#aboveTop {
	position: relative;
	z-index: 2;
}

#mainRow {
	width: 100%;
	margin: 0;
	position: fixed;
	top: 50%;
	margin-top: -122px;
}

#timeTop {
	cursor: default;
	text-align: center;
	user-select: none;
	padding-right: 30px;
	/*border-right: solid 4px white;*/
}

#timeTop .clock {
	font-weight: 400;
}

#bottomBar {
	background: rgba(200, 200, 200, 0.9);
	width: 100%;
	z-index: 2;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hwButton {
	text-align: center;
	position: fixed;
	left: 50%;
	margin-left: -22.5px;
	bottom: 19px;
}
.hwButton.flipped {
	bottom: calc(100% - 83px);
	text-shadow: 2px 2px black;
}
.hwButton.flipped i:before {
	content: "\f139";
}

.settingsButton {
	position: fixed;
	bottom: 110%;
	right: 100px;
}
.settingsButton.visible, .settingsButton.zoneVisible {
	bottom: calc(100% - 83px);
}

#setup1 {
	background-color: #1E88E5;
	height: 1080px;
	transition: background-color 0.75s;
}
#par{
	background-size: 100%;
	min-height: 100vh;
}
#end {
	min-height: 250px;
	background-color: rgba(85, 85, 85, 1);
}

.center {
	text-align: center;
}

.section-warning {
	font-size: 3em;
}

.account {
	padding-bottom: 10px;
}

.sectionList {
	border: solid 1px black;
	list-style-type: none;
	min-height: 200px;
	padding-left: 0;
}
.sectionList li {
	cursor: move;
	font-size: 1.2em;
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

#hwTomorrow li h4:first-child, #hwSoon li h4:first-child, #hwLongTerm li h4:first-child {
	display: inline;
}