body {
	position: relative;
	background-size: 100% ;
}

.section {
	padding-top:50px;
	height: 500px;
	color: #fff;
	z-index: 0;
	background-color: transparent;
}

#section1 {
	background-color: #1E88E5;
	max-height: 1080px;
	transition: background-color 0.75s;
	
}
#setup1 {
	background-color: #1E88E5;
	height: 1080px;
	transition: background-color 0.75s;
}
#setup1.imageLoaded {
}
#section1.imageLoaded {
	background-color: transparent;
}
body{
}
#par{
	background-size: 120%;
}
#section2 {
	background-color: rgba(60, 77, 99, 0.9);
	z-index: 1;
	position: relative;
}
#section3 {
	background-color: rgba(255, 152, 0, 0.9);
}
#section41 {
	background-color: rgba(121, 70, 26, 0.65);
}
#section42 {
	background-color: rgba(57, 146, 108, 0.69);
}
#section21 {
	background-color: rgba(0, 188, 212, 0.9);
}
#section22 {
	background-color: rgba(0, 150, 136, 0.9);
}
#end {
	height: 200px;
	background-color: rgba(85, 85, 85, 1);
}

.center {
	text-align: center;
}

.mainTime {
	font-size: 6em;
}
.mainDate {
	font-size: 2em;
}

.section-warning {
	font-size: 1.6em;
	font-style: italic;
}

.account {
	padding-bottom: 10px;
}

.cal_hw {
	background-color:#4c6c9b !important;
	color: #FFF;
}
.cal_quiz {
	background-color:#ffa500 !important;
	color: #FFF;
}
.cal_project {
	background-color:#9ACD32 !important;
	color: #FFF;
}
.cal_test {
	background-color:#DC143C !important;
	color: #FFF;
}
.cal_paper {
	background-color:#FFD700 !important;
	color: #FFF;
}
.cal_ica {
	background-color:#2ac0f1 !important;
	color: #FFF;
}
.cal_lab {
	background-color:#2af15e !important;
	color: #FFF;
}
.cal_dismissal {
	background-color:#FF0 !important;
	color: #FFF;
}
.cal_docid {
	background-color:#003DAD !important;
	color: #FFF;
}
.cal_hex {
	background-color:#000000 !important;
	color: #00FF00;
}
.cal_no_prefix {
	background-color: #FFD3BD;
	color: black !important;
}
