#name {
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 5px solid white;
	text-shadow: 2px 2px black;
	width: 500px;
}

#name:focus {
	outline: none;
	border-bottom: none;
}

#submit, #mhssignin {
	text-decoration: none;
}

#submit:hover, #mhssignin:hover {
	cursor: pointer;
}