#weatherCurrent {
	margin-top: -50px;
}
#weatherCurrentInfo {
	font-size: 45px;
}
#weatherLocationText {
	display: inline-block;
	width: 500px;
}
#weatherLocationSubmit {
	margin-top: -4px;
	width: 50px;
}
#weatherPoweredBy {
	position: relative;
	top: 5px;
	left: -7px;
}