.calendarViewport {
	border: solid 1px white;
	overflow-y: scroll;
	width: 100%;
	height: 500px;
}
.calendarWeek {
	display: flex;
	width: 100%;
}
.calendarDayHeader, .calendarDayContents {
	flex: 1;
	width: 100%;
}
.calendarDayHeader {
	height: 25px;
	text-align: center;
}
.calendarDayContents.day0 {
	border-left: none;
}
.calendarDayContents {
	border-left: solid 1px white;
	height: 1440px;
	position: relative;
}
.calendarEvent {
	position: absolute;
	border: solid 1px white;
	padding: 2px;
	overflow: hidden;
}
.calendarEventName {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.calendarEventTime {
	font-size: 13px;
}