.calendarHeaderLeft {
	font-size: 18px;
	line-height: 40px;
	height: 40px;
}
.calendarHeaderLoading {
	font-size: 14px;
	margin-left: 5px;
}
.calendarHeaderRight {
	text-align: right;
}

.calendarViewport {
	border: solid 1px white;
	width: 100%;
}
.calendarWeek {
	display: flex;
	width: 100%;
}
.calendarDayHeader, .calendarDayContents {
	flex: 1;
	width: 100%;
}
.calendarDayHeader {
	height: 25px;
	text-align: center;
}
.calendarDayContents.day0 {
	border-left: none;
}
.calendarDayContents {
	border-left: solid 1px white;
	position: relative;
}
.calendarEvent {
	position: absolute;
	border: solid 1px white;
	padding: 4px;
	overflow: hidden;
}
.calendarEventName {
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.calendarEventTime {
	font-size: 11px;
}