.section
	padding-bottom: 10px
	min-height: 400px
	height: auto
	color: #fff
	z-index: 0
	background-color: transparent

	.sectionTitle
		font-size: 35px
		font-weight: 300
		margin-top: 21px

		.fa
			margin-right: 2px