.transit-section
    display: flex
    flex-direction: row

    .mta-service
        width: 100%

    ul
        .service
            padding: 3px

            .service-name
                padding: 3px
                border-radius: 2px
