.transit
	display: flex
	flex-direction: row

	.transitCategory
		flex-grow: 1

		.transitListItem
			padding: 3px

			.transitListItemName
				padding: 3px
				margin-right: 4px
				border-radius: 2px

			.transitListItemStatus
				font-style: italic