.calendarEvent
	position: absolute
	border: solid 1px white
	border-left: solid 3px white
	margin-left: 1px
	padding: 4px
	overflow: hidden

	.calendarEventName
		font-size: 13px
		font-weight: bold
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap

		.calendarEventRecur
			margin-right: 0.25rem

	.calendarEventTime
		font-size: 11px

.calendarEventCancelled
	border: dashed 1px #bbbbbb
	color: #bbbbbb