html, body
	font-family: "Lato"
	color: white
	margin: 0
	padding: 0

.app
	background-attachment: fixed
	background-position: center
	background-size: cover

	.top
		align-items: center
		display: flex
		font-size: 14px
		text-shadow: 0 0 4px black
		height: 100vh

		.topCenter
			margin-top: -50px
			text-align: center
			vertical-align: middle
			width: 100%