.iconButton
	color: white
	cursor: pointer
	font-size: 3em
	text-shadow: 2px 2px black
	z-index: 10
	text-decoration: none
	transition: all 0.25s ease-in-out

.iconButton:hover
	color: #ccc
	text-decoration: none