.iconButton
	color: white
	cursor: pointer
	font-size: 24px
	text-shadow: 0 0 4px black
	z-index: 3
	text-decoration: none
	transition: all 0.25s ease-in-out

.iconButton:hover, .iconButton:focus
	color: #ccc
	text-decoration: none