.articles-section
    .articles
        display: flex
        width: 100%

        article
            padding: 10px
            width: 33.333%

            a
                .article-image
                    width: 100%
                    height: 150px
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: 50% 50%

            h4
                a
                    color: white

            p
                .small
                    display: block
                    font-size: 12px

    .attribution
        float: left

    .link
        float: right
        
        a
            color: white