.layoutSection
	border: solid 1px #333
	clear: both
	font-size: 18px
	margin-bottom: 5px
	height: 32px
	padding: 2px

	.layoutSectionLabel
		float: left

	.layoutSectionControls
		float: right

		.layoutSectionButton
			color: #555
			cursor: pointer
			display: inline-block
			font-size: 14px
			margin-right: 4px

		.layoutSectionButton:hover
			color: black

		.layoutSectionSpacer
			display: inline-block
			width: 22px