.settingsPane
	background: white
	border-left: solid 1px black
	color: black
	padding-top: 20px
	padding-left: 20px
	padding-right: 20px
	overflow-y: auto
	position: fixed
	top: 0
	right: 0
	width: 400px
	height: 100%
	z-index: 3

	.settingsPaneTitle
		margin-top: 0

	.settingsPaneClose
		cursor: pointer
		font-size: 24px
		position: absolute
		top: 20px
		right: 20px

	label
		display: block