.clock
	.clockTime
		font-size: 6em

		.clockTimeAMPM
			display: inline-block
			font-size: 0.5em
			position: relative
			top: -32px
			left: 8px

	.clockDate
		font-size: 2em

	.progressBarContainer
		border: solid 1px white
		border-radius: 5px
		box-sizing: content-box
		margin: 1rem auto
		width: 30rem
		height: 1rem
		
		.progressBar
			background-color: white
			border-radius: 5px
			box-sizing: content-box
			height: 1rem