.imageInfoBar
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%)
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	height: 140px
	opacity: 1
	transition: all 0.2s

	.imageInfo
		position: fixed
		left: 20px
		bottom: 20px
		font-weight: 300
	
		a
			color: white
			font-weight: 600
			text-decoration: none

	.imageDesc 
		font-size: 1.4em

	.imageDesc.loading
		font-size: 1em

	.imageSubDesc
		font-size: 0.8em

.imageInfoBar.scrolled
	opacity: 0
	pointer-events: none