.infoMessage, .infoMessageLinks
	border-radius: 5px
	margin: 10px auto 0 auto
	text-align: left
	user-select: none
	width: 350px

	.infoMessageHackyHoverWrapper
		border-radius: 5px
		cursor: pointer
		padding: 5px

	.infoMessageHackyHoverWrapper:hover
		background-color: inherit !important

	.infoMessageHeader
		font-size: 18px

	.infoMessageSubtext
		font-size: 14px

	a
		color: white
		text-decoration: underline

	a:hover
		color: #ddd

.infoMessageLinks
	margin-top: 4px
	padding: 5px